AccessModifierOffset: -4
BasedOnStyle: LLVM
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeCategories:
  # Local headers in ""
  - Regex: '"[a-zA-Z0-9.a-zA-Z0-9]+"'
    Priority: 1
  # Local headers in "" with /
  - Regex: '"cpp-utility\/[-\w\/\.-_]+"'
    Priority: 3
  # Local headers in "" with /
  - Regex: '"mpi-wrapper\/[-\w\/\.-_]+"'
    Priority: 4
  # Local headers in "" with /
  - Regex: '"adapter\/[-\w\/\.-_]+"'
    Priority: 5
  # Local headers in "" with /
  - Regex: '"factory\/[\w\/\.-_]+"'
    Priority: 6
  # Local headers in "" with /
  - Regex: '"[-\w\/\.-_]+\/[-\w\/\.-_]+"'
    Priority: 2
  # Specific external headers in <> to put first
  - Regex: '<gtest.*>'
    Priority: 7
  # External headers in <> with extension or /
  - Regex: '<[-\w\/-_]+[\.\/][-\w\/-_]+>'
    Priority: 8
  # Standard headers in <>
  - Regex: '<[-\w\/-_]+>'
    Priority: 9
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: true
Standard: Latest
TabWidth: 4
UseCRLF: false
UseTab: Never