Checks: "
        *,
        -altera-*,
        -abseil-*,
        -fuchsia-*,
        -zircon-*,
        -llvm-*,
        -llvmlibc-*,
		-misc-no-recursion,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -bugprone-easily-swappable-parameters,
        -*-pro-bounds-avoid-unchecked-container-access,
        "
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
